body {
    background: rgb(39, 39, 224);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    margin: auto;
}

div {
    text-align: center;
    padding: 5px;
}

#box label {
    display: block;
    margin-bottom: 10px;
}

#box input {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}